<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head') %> 
<body>
  <%- include('../includes/navigation') %>
  <main>
    <p>Cart</p>
  </main>
  <%- include('../includes/footer') %>
</body>
</html>